.swiper {

    position: relative;
    align-items: center;
    padding-top: 1.5rem;
    margin-left: 0;

    &__btn {
        display: none;
        width: 1.2rem;
        height: 1.2rem;
        transition: .3s;
    }
    &__btn::after {
        content: '';
        position: absolute;
        width: 3.1rem;
        height: 3.1rem;
        top: -0.7rem;
        left: -0.9rem;
        border: 1px solid $search-result-line;
        border-radius: 50%;
        transition: .3s;
    }
    &__btn:hover::after {
        background-color: rgba($color: #b5aaf6, $alpha: 0.4);
        border-color: rgba($color: #b5aaf6, $alpha: 0.1);
        z-index: -1;
    }
    &__prev-btn {
        transform: translateX(-3.2rem);
    }
    &__next-btn {
        position: relative;
        left: 3.2rem;
        transform: scale(-1, 1);
    }
    &-wrapper {
        padding-top: 1.8rem;
        max-width: 63.2rem;
    }
}

.swiper-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    transition: .3s;
    width: 6rem !important;
    &__time {
        font-size: 1.6rem;
        color: $font-color-not-active;
        margin-bottom: 0.5rem;
    }
    &__icon {
        width: 2.5rem;
        margin-bottom: 0.5rem;
    }
    &__temperature {
        font-size: 1.6rem;
        color: $font-color-active;
    }
    &:not(:last-child) {
        margin-right: 1rem;
    }
    &__icon > img {
        display: block;
        margin: 0 auto;
    }
    &:hover {
        transform: scale(1.05);
    }
    transition: 0.3s;
}

.tabs {
    position: relative;
}
.swiper__prev-img {
    position: absolute;
    left: 0;
}
.swiper__next-img {
    right: 0 !important;
}
