$primary-font: "Inter";
$primary-font-weight: 400;
$content-width: 1660px;
$container-offset: 15px;
$container-width: $content-width + ($container-offset * 2);

// font-colors
$search-user-color: #1f0e37;
$search-result-item: rgba(255, 255, 255, 1);
$main-info-title-color: rgba(255, 255, 255, 0.9);
$font-color-active: #fff;
$font-color-not-active: rgba(255, 255, 255, 0.6);

$bg-color-primary: rgb(102, 102, 162);
// input search bg colors
$input-blur-color: rgba(253, 253, 253, 0.7);
$input-focus-color: rgba(253, 253, 253, 1);

// breakpoints------
$big-laptop: 1140px;
$small-laptop: 890px;
$landscape-tablet: 580px;
$portreit-tablet: 430px;
$small-phone: 340px;

// lines
$search-result-line: rgba(255, 255, 255, 0.4);